project:
  type: book

book:
  title: "Data Analysis for Food Science"
  date: 10-09-2024
  favicon: fda_favicon.png
  
  # Chapters ----
  chapters:
    - index.qmd

    # Week 1
    - part: chapters/week1/week_1.qmd
      chapters: 
        - chapters/week1/r_basics.qmd
        - chapters/week1/descriptive_statistics.qmd
        - chapters/week1/debugging.qmd
        - chapters/week1/plotting.qmd
        - chapters/week1/pca.qmd

    # Week 2
    - part: chapters/week2/week_2.qmd
      chapters: 
        - chapters/week2/correlation.qmd
        - chapters/week2/normal_distribution.qmd
        - chapters/week2/central_limit_theorem.qmd
    
    # Week 3
    - part: chapters/week3/week_3.qmd
      chapters:
        - chapters/week3/t_test.qmd
        - chapters/week3/hypothesis_testing.qmd
    
    # Week 4
    - part: chapters/week4/week_4.qmd
      chapters:
        - chapters/week4/binomial_data.qmd
        - chapters/week4/poisson_data.qmd
      
    # Week 5
    - part: chapters/week5/week_5.qmd
      chapters:
        - chapters/week5/mutinomial_data.qmd
        - chapters/week5/power_calculation.qmd

    # Week 6
    - part: chapters/week6/week_6.qmd
      chapters:
        - chapters/week6/model_formulation.qmd
        - chapters/week6/anova.qmd

    # Week 7
    - part: chapters/week7/week_7.qmd
      chapters:
        - chapters/week7/regression.qmd
        - chapters/week7/least_squares.qmd

    # Week 8
    - part: chapters/week8/week_8.qmd
      chapters:
        - chapters/week8/mlr.qmd
        - chapters/week8/explained_variance.qmd
        
  # Appendices
  appendices:
  - chapters/appendix/data_wrangling.qmd


# Book layout options ----
  sidebar:
    style: docked

# Global format options ----
format:
  html:
    theme:
      - default
      - style.scss
  
  ## Code options ----
    code-fold: false # show code, but be able to fold it
    code-line-numbers: false # show code line numbers
    code-tools: true # add code tools like "copy" and "source"
    code-copy: true # add copy button to code blocks

  ## External links ----
    link-external-icon: true # show external link icon
    link-external-newwindow: true # open external links in new window

  ## Cross ref options ----
    crossref: 
      fig-prefix: figure      # (default is "Figure")
      sec-prefix: section     # (default is "Section")
      tbl-prefix: table       # (default is "Table")
      lst-prefix: listing     # (default is "Listing")
      custom:
      - kind: float           # Custom cross-ref for exercises
        reference-prefix: Exercise
        key: ex
      - kind: float           # Custom cross-ref for examples
        reference-prefix: Example
        key: exa
      

  ## Grid options ----
    grid:
      sidebar-width: 350px # Max width of left sidebar (standard is 250px)
      body-width: 1000px # Max width of body (standard is 800px)
      margin-width: 350px # Max width of right sidebar (standard is 250px)
      gutter-width: 3em #Max width of space between grid components (standard is 1.5em)
    
  ## Sections and TOC ----
    number-depth: 3 # Numbering depth for sections
    toc-depth: 4 # Depth of sections in the table of contents
    toc-expand: 3 # Expand all sections in the table of contents

  ## Other format options ----
    html-table-processing: none # Disable Quarto HTML table processing
    lightbox: true # Use lightbox for figs
    crossrefs-hover: false # Show cross-references preview on hover


# lua filters ----
filters:
  - _extensions/custom-callouts.lua
