/*-- scss:defaults --*/

/*-- scss:rules --*/

// Importing fa icons
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");


// -----------------------------------------
// CALLOUTS AND CODE BLOCKS
// -----------------------------------------

// --- Code block styling ---

.sourceCode {
  border-radius: 0 !important;
  margin-left: 1rem;
}



// --- Global callout styling ---

.callout {
  border-radius: 0;
  border-left-width: .5rem;
  }


  
// --- Example callout styling ---

div.callout-example.callout {
  border-left-color: #3C91E6;
}

div.callout-example.callout-style-default > .callout-header {
  background-color:  #C8E0F9; // Light version of left border color
  font-size: large;
}

div.callout-example .callout-body { // Body margins
  margin-left: 10px;
  margin-right: 10px;
}

div.callout-example .callout-header .callout-title-container { // Title margins
  margin-left: 10px;
}



// --- Exercise callout styling ---

div.callout-exercise.callout {
    border-left-color: #6B9B8B;
  }
  
  div.callout-exercise.callout-style-default > .callout-header {
    background-color: #E7EEEC; // Light version of left border color
    font-size: large;
  }
  
  .callout-exercise > .callout-header::before {
    font-family: "Font Awesome 5 Free";
    content: "\f303";
    margin-right: 15px;
    margin-left: 10px;
  }

  div.callout-exercise .callout-body { // Body margins
    margin-left: 10px;
    margin-right: 10px;
  }



// --- Task callout styling ---

.callout.callout-style-default.callout-task > .callout-header {
  display: none !important;
}

div.callout-task.callout {
    border-left-color: #E6AC73;
    padding-top: 10px;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }

  div.callout-exercise {
    text-align: left;
  }

  .quarto-float-ex, .quarto-float-exa {
    display: none;
  }


  .custom-table {
    width: 40%; 
    margin: auto;
  }

// -----------------------------------------
// TABLES AND FLOATS
// -----------------------------------------

  // --- Booktabs style tables ---

  table {
    width: auto !important;
    min-width: 600px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
  }
  
  /* Remove all internal borders */
  table th, table td {
    border: none;
    padding: 0.5em 1.5em;
    text-align: left;
  }
  
  /* Add top and bottom borders to header */
  thead tr:first-child {
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
  }
  
  /* Add bottom border to table */
  tbody tr:last-child {
    border-bottom: 2px solid #000;
  }


// -----------------------------------------
// TEXT
// -----------------------------------------

  // --- Header and float margins ---

  h1, .h1 {
    margin-top: 60px;
}

h2, .h2 {
    margin-top: 60px;
}

h3, .h3 {
    margin-top: 60px;
}

h4, .h4 {
    margin-top: 60px;
}

.quarto-float {
    margin-top: 40px;
    margin-bottom: 40px;
}

// --- Text styling ---

.red_text { /*-- <p class="red_text"> This text will be red. </p> --*/
    color: red !important;
}

.icon_text { /*-- <p class="icon_text"> This text will have an icon. </p> --*/
    font-family: "Font Awesome 5 Free";}

.code_text { /*-- <p class="code_text"> This text will be monospaced. </p> --*/
    font-family:  SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 0.9em;
    color: black;
}







